pkgbase = whiteout-git
	pkgdesc = Git filter tool that prevents secrets from being committed
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/bytware/whiteout
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = git
	provides = whiteout
	conflicts = whiteout
	source = git+https://github.com/bytware/whiteout.git#tag=v1.0.0
	sha256sums = SKIP

pkgname = whiteout-git